


<div class="text-center">
    <h1 class="display-4">Welcome XSS Dataset</h1>
    <p>
        Learn about <a href="https://owasp.org/www-community/attacks/xss/">
            Cross Site Scripting (XSS)
        </a>.
    </p>
</div>
@*<div class="text-center">
        <h2>Submit a Comment</h2>

        <form action="/Home/SubmitComment" method="post">
            <label for="userName">Name:</label>
            <input type="text" id="userName" name="userName" />
            <br /><br />
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment"></textarea>
            <br /><br />
            <input type="submit" value="Submit Comment" />
        </form>
    </div>*@